<h1 class="mb-4">Your Dashboard</h1>
{{#if posts.length }}
<section>
    <div class="container dashboard-card">
        {{#each posts}}
        <li class="mt-2 card-body row border custom-card">
            <article class="col-md-10 col-sm-12">
                <div id="blog-header" class="row">
                    <div id="blog-title" class="col-md-5 col-sm-6">
                        <a href="/dashboard/edit/{{id}}">{{title}}</a>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
                    </div>
                </div>
                <div id="blog-content" class="row">
                    <div class="col-md-10 col-sm-12">
                        <p>{{post_content}}</p>
                    </div>
                </div>
            </article>
        </li>
        {{/each}}
    </div>
</section>
<div id="post-btn-div" class="row">
    <div class="col-md-5 col-sm-12">
        <a href="/dashboard/newpost"><button type="button" id="post-btn" class="btn btn-sm btn-primary mt-2">New Post</button></a>
    </div>
</div>
{{else}}
<div id='post-btn-div' class="row">
    <div class="col-md-1 col-sm-12">
        <a href="/dashboard/newpost"><button type="button" id="post-btn" class="btn btn-sm btn-primary mt-2">New Post</button></a>
    </div>
</div>
{{/if}}

