<h1>Your Dashboard</h1>
<section>
    <div class="container dashboard-card">
        {{#each posts}}
        <li class="card body row border custom-card">
            <article class="col-10">
                <div id="blog-header" class="row">
                    <div id="blog-title" class="col-5">
                        <a href="/post/{{id}}">{{title}}</a>
                    </div>
                    <div class="col-5">
                        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
                    </div>
                </div>
                <div id="blog-content" class="row">
                    <div class="col-10">
                        <p>{{post_content}}</p>
                    </div>
                </div>
            </article>
        </li>
        {{/each}}
    </div>
</section>
{{#if loggedIn}}
<div id="post-btn-div" class="row">
    <div class="col-5">
        <a href="/dashboard/newpost"><button type="button" id="post-btn" class="btn btn-sm btn-primary">New Post</button></a>
    </div>
</div>
{{/if}}

