<ol>
    {{#each posts }}
    <li class='mt-2 row border border-secondary homepage-card'>
        <article class='col-10'>
            <div id='blog-header' class='row'>
                <div class='col-5'>
                    <a href='/post/{{id}}'>{{title}}</a>
                </div>
                <div class="col-5">
                    <span>Posted by {{user.username}} on {{format_date created_at}}</span>
                </div>
            </div>
            <div id='blog-content' class='row'>
                <div class="col-10">
                    <p>{{post_content}}</p>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ol>