<h2>Add Comment</h2>
<div>
    <li class='row border border-secondary comment-box'>
        <article class='col-10'>
            <div id='blog-header' class='row'>
                <div class='col-10'>
                    <h2>{{post.title}}</h2>
                </div>
                <div class="col-10">
                    <span>Posted by {{post.user.username}} on {{format_date post.created_at}}</span>
                </div>
            </div>
            <div id='blog-content' class='row'>
                <div class="col-10">
                    <p>{{post.post_content}}</p>
                </div>
            </div>
        </article>
    </li>
</div>
{{#each post.comments}}
<div class="mt-2 ">
    <div class='row border comment-box'>
        
        <div class="mt-2 col-10 border-secondary">
            
            <li id='comments' class="row ">
                <div class='col-10'>
                    <p>{{comment_text}}</p>
                </div>
                <div class='col-10'>
                    <p>{{user.username}} on {{format_date created_at}}</p>
                </div>
            </li>
            
        </div>
    </div>
</div>
{{/each}}
{{#if loggedIn}}
<form class="mt-2" id='comment-form'>
    <div id='comment-form-div' class="row border comment-box">
        <div class="col-10">
            <label for='new-comment'>Comment</label>
        </div>
        <div class="col-10">
            <textarea placeholder='Enter comment here...' name='new-comment' id='new-comment'
                form='comment-form' rows="5" class="col-10"></textarea>
        </div>
        <div class="col-10">
            <button id='submit-button' type='submit'>Submit</button>
        </div>
    </div>
</form>
<script src="/javascript/comment.js"></script>
{{/if}}