<h2>single-post</h2>
<ol>
    <li class='row border'>
        <article class='col-10'>
            <div id='blog-header' class='row'>
                <div class='col-10'>
                    <h2>{{post.title}}</h2>
                </div>
                <div class="col-10">
                    <span>Posted by {{post.user.username}} on {{format_date post.created_at}}</span>
                </div>
            </div>
            <div id='blog-content' class='row'>
                <div class="col-10">
                    <p>{{post.post_content}}</p>
                </div>
            </div>
        </article>
    </li>
</ol>
<div class='row border'>
    <div class="col-10">
        {{#each post.comments}}
        <section id='comments' class="row">
            <div class='col-10'>
                <p>{{comment_text}}</p>
            </div>
            <div class='col-10'>
                <p>-{{user.username}} on {{format_date created_at}}</p>
            </div>
        </section>
        {{/each}}
    </div>
</div>
{{#if loggedIn}}
<form id='comment-form'>
    <div id='comment-form-div' class="row border">
        <div class="col-10">
            <label for='new-comment'>Comment</label>
        </div>
        <div class="col-10">
            <textarea placeholder='Enter comment here...' name='new-comment' id='new-comment'
                form='comment-form'></textarea>
        </div>
        <div class="col-10">
            <button id='submit-button' type='submit'>Submit</button>
        </div>
    </div>
</form>
<script src="/javascript/comment.js"></script>
{{/if}}